body{
    overflow: scroll;
}

#puzzle{
    width: 100%;
}

#puzzle .pieceContainer{
	margin: 0;
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;
}

#puzzle .piece.matched{
	border: 1px groove red;
}

.clearer{
    clear:both;
    display: block;
}

#puzzle .piece canvas{
    display: block;
}
